<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngshaw.datasourcedemo.dao.UserDao">
    <select id="getUserById" parameterType="int" resultType="user">
    select * from t_users where id = #{id}
  </select>
</mapper>